/*
Global CSS Rules affecting the entire site.
*/
html, body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	color: #545454;
	text-align: justify;
}
a { 
	transition: all 0.3s ease-in-out;
	color: #096EAA;
	font-weight: 400;
}
a:hover {
	text-decoration: none;
	color: #009147;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Righteous;
	margin-top: 0px;
}
h1 {
	font-size: 60px;
	margin: 30px 0 40px;
	color: #096EAA;
}
h2 {
	font-size: 50px;
	margin: 30px 0 40px;
	color: #096EAA;
}
h3 {
	font-size: 30px;
	margin: 0 0 30px;
}
p {
	margin: 0 0 2rem;
}


/* Panel Disabled */
.panel {
	transition: all 0.3s ease-in-out;
}
.disabled { 
	opacity: 0.3; 
	transition: all 0.3s ease-in-out;
}

/* Navbar */
.navbar { 
	border: none;
	box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.2);
	-webkit-box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.2);
	-mox-box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.2);
}
.navbar-default {
	background-color: transparent;
	margin-bottom: 0px;
}
.navbar-nav > li > a { 
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	background: #fff;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.navbar-nav > li > a:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #f2f2f2;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.navbar-nav > li > a:hover:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

/* Container Overrides */
.map-container {
	padding-left: 0;
	padding-right: 0;
}
.map-container iframe {
	max-height: 500px;
	min-height: 500px;
	width: 100%;
	border: none;
}

/* Social Media Links */
ul.social-media {
	list-style: none;
	padding-left: 0;
}
ul.social-media > li {
	float: left;
}
ul.social-media > li > a {
	height: 40px;
	width: 40px;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 20px;
	line-height: 40px;
	transition: all 0.3s ease-in-out;
}
a.facebook {
	background-color: #3b5998;
}
a.twitter {
	background-color: #1da1f2;
}
a.linkedin {
	background-color: #0077b5;
}
a.youtube {
	background-color: #de332c;
}
a.facebook:hover, a.twitter:hover, a.linkedin:hover, a.youtube:hover {
	background-color: #333; 
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

/* Forms */
label, .help-block {
	font-size: 14px;
}
.help-block p {
	margin: 0;
}

/* Button Overrides */
.btn {
	transition: all 0.3s ease-in-out;
}
.btn-info {
	background-color: #065584;
	border: none;
}
.btn-info:hover {
	background-color: #2881B6;
}

/* Back to top button */
#toTop { 
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	display: none;
	border-radius: 25;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
}
#toTop > .glyphicon {
	font-size: 25px;
}

/* Character Counter */
.char-number { font-size: 0.6rem; text-align: right; }

/* Texture Backgrounds */
.brickwall-blue {
	background-image: url(/images/brickwall-blue.png);
	background-repeat: repeat;
}
.brickwall-green {
	background-image: url(/images/brickwall-green.png);
	background-repeat: repeat;
}
.brickwall-orange {
	background-image: url(/images/brickwall-orange.png);
	background-repeat: repeat;
}

/* Home Page */
.home-bkg {
	background-image: url(/images/home/welcome-to-c-edney-builders.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.home-bkg h1, .home-bkg h2 {
	color: #fff;
	text-shadow: 5px 5px 5px #000;
}
.panel-contact, .panel-portfolio, .panel-quote {
	padding: 0;
	overflow: hidden;
}
.panel-contact {
	background-color: #065584;
}
.panel-contact h2 {
	background-color: #04456C;
}
.panel-portfolio {
	background-color: #009147;
}
.panel-portfolio h2 {
	background-color: #00763A;
}
.panel-quote {
	background-color: #CF7200;
}
.panel-quote h2 {
	background-color: #A95D00;
}
.panel-title-shadow {
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
	padding: 20px;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 0px;
}

/* Carousel */
.carousel-indicators li {
	border-radius: 0;
}
.carousel-control.right, .carousel-control.left {
	background-image: none;
	filter: none;
}
.carousel-caption {
	left: initial;
	right: initial;
	top: 0;
	bottom: initial;
	width: 100%;
	background-color: rgba(15, 15, 15, 0.8);
	text-align: initial;
	padding: 20px;
}

/* Services */
.service-row {
	padding-top: 100px;
	padding-bottom: 100px;
	background-attachment: fixed;
	background-size: cover;
}
.service-text {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
	border-radius: 5px;
	color: #fff;
}
.service-text p:last-child {
	margin-bottom: 0;
}
.extension-bkg {
	background-image: url(/images/portfolio/carousel-1/slide-00.jpg);
	background-position: top center;
}
.loft-conversions-bkg {
	background-image: url(/images/services/loft-conversions-bkg.jpg);
	background-position: top center;
}
.general-building-bkg {
	background-image: url(/images/services/general-building-services-bkg.jpg);
	background-position: top center;
}
.brickwork-bkg { 
	background-image: url(/images/services/brickwork-bkg.jpg);
	background-position: top center;
}
.windows-bkg { 
	background-image: url(/images/services/windows-bkg.jpg);
	background-position: top center;
}
.maintenance-bkg { 
	background-image: url(/images/services/property-maintenance-bkg.jpg);
	background-position: top center;
}
.renovations-bkg { 
	background-image: url(/images/services/property-renovations-bkg.jpg);
	background-position: top center;
}
.new-builds-bkg { 
	background-image: url(/images/services/new-builds-bkg.jpg);
	background-position: top center;
}

/* Spacers */
.spacer-50px {
	margin-top: 50px;
	margin-bottom: 50px;
}

/* Footer */
footer {
	background-color: #f6f6f6;
	color: #777;
	font-size: 14px;
}
footer a { color: #777; }
.footer-content {
	min-height: 200px;
	padding-top: 90px;
	padding-bottom: 90px;
}
.copyright {
	background-color: #333;
	padding: 20px 0;
	color: #fff;
	font-size: 14px;
}

/* 
Mobile Device CSS Rules
 */
@media only screen and (max-width: 767px) {
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}

	/* Nav bar */
	.navbar-default .navbar-brand { 
		font-weight: 700;
		font-size: 20px;
		font-family: Righteous;
		color: #065584;
	}

	/* Footer */
	.footer-column {
		margin-bottom: 20px;
		text-align: center;
	}
	ul.social-media > li {
		margin: 0;
		float: none;
		display: inline-block;
	}
	
	/* Home Page */
	.home-bkg {
		min-height: 350px;
		background-size: cover;
		background-attachment: scroll;
	}
	.home-bkg h1 {
		font-size: 45px;
		padding: 70px 0 20px;
	}
	.home-bkg h2 {
		font-size: 35px;
	}
	.panel-contact h2, .panel-portfolio h2, .panel-quote h2 {
		display: none;
		visibility: hidden;
	}
	.panel-contact p, .panel-portfolio p, .panel-quote p {
		padding: 20px;
		color: #fff;
		margin: 0 0 0 0;
	}

	/* Services */
	.row-inner { 
		margin-right: 15px; 
		margin-left: 15px;
	}
}

/* 
Desktop CSS Rules
 */
@media only screen and (min-width: 768px) {
	/* Navbar */
	.navbar-default .navbar-brand { 
		font-weight: 700;
		font-size: 40px;
		font-family: Righteous;
		color: #065584;
		padding: 40px 0;
	}
	.navbar-nav > li > a { 
		padding: 40px 10px; 
	}
	
	/* Home Page */
	.home-bkg {
		min-height: 500px;
	}
	.home-bkg h1 {
		font-size: 65px;
		padding: 150px 0 20px;
	}
	.home-bkg h2 {
		font-size: 45px;
	}
	.panel-contact p, .panel-portfolio p, .panel-quote p {
		padding: 0 20px 20px;
		color: #fff;
	}
	.panel-contact p:last-child, .panel-portfolio p:last-child, .panel-quote p:last-child {
		padding: 0 20px;
		color: #fff;
	}
}