<!-- Begin About Us Section -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<header>
					<h1>About Us</h1>
				</header>
				<article>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur harum distinctio reiciendis vero, dolor earum nisi officiis odit voluptatum corporis maiores nihil, autem pariatur facilis nulla incidunt consequuntur cum nemo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore voluptas accusantium facilis laboriosam quia minus quam iste culpa voluptatem. Repellendus, minus dolore corporis unde, deleniti nostrum explicabo nihil velit alias?</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veniam nobis ullam quia non labore maiores odio minima corporis officiis ipsum, est expedita! Quidem odio voluptas ea aut molestias maiores.</p>
				</article>
			</div>
		</div>
	</div>
</section>
<!-- End About Us Section -->

<!-- Begin Meet The Team Section -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<header>
					<h2>Meet The Team</h2>
				</header>
			</div>
		</div>
		<!-- Craig Edney -->
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<img src="images/about-us/no-image.jpg" alt="No Image Available - Craig Edney" class="img-responsive img-thumbnail img-circle" />
			</div>
			<div class="col-xs-12 col-md-9">
				<h3>Craig Edney</h3>

				<p>Over 30 years experience in the building industry. Started as a roofer and has developed to a range of areas including extensions, new builds, renovations and project management. One of the nicest guys in the industry and will give you an honest and upfront appraisal of the work that needs doing and the cost involved. Once upon a time he was Gosport’s answer to Glen Hoddle but now he prefers to watch from the stands at his local clubs Gosport and Portsmouth.</p>

				<p>You can reach Craig on <a href="tel:07770770600">07770 770600</a>, unless it’s a Friday evening then your best bet is to pop into the Village Home where he’ll no doubt be enjoying a Guinness.</p>
			</div>
		</div>
		<!-- End Craig Edney -->

		<!-- Louie Martin -->
		<div class="row spacer-50px">
			<div class="col-xs-12 col-md-3">
				<img src="images/about-us/no-image.jpg" alt="No Image Available - Louie Martin" class="img-responsive img-thumbnail img-circle" />
			</div>
			<div class="col-xs-12 col-md-9">
				<h3>Louie Martin</h3>

				<p>Has worked with Craig for over a decade and has subsequently won Employee of the Month every month since. Louie is a skilled tradesman and works to an extremely high standard. He also has experience at roofing, decorating, extensions, renovations and building in general. Louie is a real asset to C Edney Builders, that is when he’s not busy being the best right back in the Wessex League for Moneyfields or part owner of not one but two race horses.</p>

				<p>You can reach Louie on <a href="tel:07875375412">07875 375412</a> or if that fails at your local Ladbrokes. Also available as a tipster during the Cheltenham festival.</p>
			</div>
		</div>
		<!-- End Louie Martin -->
	</div>
</section>
<!-- End Meet the Team Section -->