<section>
	<div class="container home-bkg">
		<div class="row">
			<div class="col-md-12">
				<header>
					<h1>Welcome to C Edney Builders</h1>
					<h2>High Quality Building Services</h2>
				</header>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<!-- 3 Blocks showing links to pages -->
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 panel-contact brickwall-blue">
				<article>
					<h2 class="panel-title-shadow">Contact Details</h2>
					<p class="hidden-xs">
						Get in contact with us if you have any enquiries.
					</p>
					<p>
						<a href="/contact/" class="btn btn-default btn-lg btn-block">Contact</a>
					</p>
				</article>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 panel-portfolio brickwall-green">
				<article>
					<h2 class="panel-title-shadow">Portfolio</h2>
					<p class="hidden-xs">
						View some of our previous work in our Portfolio.
					</p>
					<p>
						<a href="/portfolio/" class="btn btn-default btn-lg btn-block">Portfoilo</a>
					</p>
				</article>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 panel-quote brickwall-orange">
				<article>
					<h2 class="panel-title-shadow">Quote Calculator</h2>
					<p class="hidden-xs">
						Looking to have some work done? Try our quote calculator!
					</p>
					<p>
						<a href="/quote/" class="btn btn-default btn-lg btn-block">Quote</a>
					</p>
				</article>
			</div>
		</div>
		<!-- End Blocks -->
		<!-- Welcome Conent -->
		<div class="row">
			<div class="col-md-12">
				<header>
					<h2>Welcome to C Edney Builders</h2>
				</header>
				<article>
					<p>Welcome to our new site for C Edney Builders. Our director is Craig Edney, who with the help of his son Luke and the 2Clix team is joining the 21st Century and getting an online presence to help enhance his already respected reputation as an excellent builder in the Gosport area with over 30 years experience.</p>

					<p>Craig started out as a roofer and built his own business which quickly became well respected in the local area. As well as roofing Craig’s companies then started to build excellent extensions, and carried out numerous property renovations (examples of these will soon be listed on the Portfolio section of the site). Craig has handled large contracts for the MOD, Portsmouth City Council and many more which shows the trust and professionalism that has help build his business. C Edney Builders have worked all across the south, including London.</p>

					<p>Whilst the site is in its infancy all you really need to know is the Craig’s contact details. C Edney Builders are happy to come and give quotes and advice on possible work opportunities so give us a call on <a href="tel:07770770600">07770 770600</a>.</p>
				</article>
			</div>
		</div>
		<!-- End Welcome Content -->
		<!-- We Specialise In -->
		<div class="row spacer-50px">
			<div class="col-xs-12 col-sm-6 col-md-8">
				<header>
					<h3>We Specialise In...</h3>
				</header>
				<article>
					<ul>
						<li>Extensions</li>
						<li>Loft conversions</li>
						<li>General building services</li>
						<li>Groundworks/Brickwork</li>
						<li>UPVC windows &amp; Conservatories</li>
						<li>Property maintenance</li>
						<li>Property renovations</li>
						<li>New Builds</li>
					</ul>
				</article>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<img src="images/home/we-specialise-in.jpg" class="img-responsive img-thumbnail" alt="We Specialise In the following services" />
			</div>
		</div>
		<!-- End We Specialise In -->
	</div>
</section>