<section>
	<div class="container home-bkg">
		<div class="row">
			<div class="col-md-12">
				<header>
					<h1>Welcome to C Edney Builders</h1>
					<h2>High Quality Building Services</h2>
				</header>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4 panel-contact">
				<article>
					Contact Details
				</article>
			</div>
			<div class="col-xs-12 col-md-4 panel-portfoilo">
				<article>
					Portfoilo
				</article>
			</div>
			<div class="col-xs-12 col-md-4 panel-quote">
				<article>
					Quote Calculator
				</article>
			</div>
		</div>
	</div>
</section>