<section>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Our Services</h1>
				</div>
			</div>
		</div>
	</header>
</section>

<!-- Extensions -->
<section>
	<div class="container-fluid">
		<div class="row service-row extension-bkg">
			<div class="container">
				<div class="row row-inner">
					<div class="col-xs-12 col-sm-10 col-md-6 service-text">
						<article>
							<header>
								<h3>Extensions</h3>
							</header>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur facilis quis nisi magni quaerat debitis aliquid, ad dolorem nemo autem aspernatur, optio amet necessitatibus eum error sit. Veniam, modi, recusandae! </p>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic excepturi corrupti veritatis expedita odit. Non ratione dolores quas totam quod unde saepe tenetur minima animi! Ipsum quia asperiores quidem. Tempora!</p>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Loft Conversions -->
<section>
	<div class="container-fluid">
		<div class="row service-row loft-conversions-bkg">
			<div class="container">
				<div class="row row-inner">
					<div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-1 service-text">
						<article>
							<header>
								<h3>Loft Conversions</h3>
							</header>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ad, at nesciunt quos eligendi soluta rerum architecto earum necessitatibus unde consectetur libero tenetur iusto, et illum nulla reiciendis in sapiente!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, impedit voluptatum dolor laudantium vitae optio molestias corporis quod porro repellat fugit dolore, eligendi obcaecati quam cumque qui nesciunt. Dicta, atque!</p>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- General Building Services -->
<section>
	<div class="container-fluid">
		<div class="row service-row general-building-bkg">
			<div class="container">
				<div class="row row-inner">
					<div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-2 service-text">
						<article>
							<header>
								<h3>General Building Services</h3>
							</header>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sit voluptate earum, nobis, dicta repudiandae vel natus quas cupiditate doloribus vitae ut illo perferendis maxime in voluptatum reprehenderit eum ad.</p>
							<p>Culpa reprehenderit possimus amet necessitatibus sed fugit asperiores consequatur provident dolorem atque alias facilis totam dicta nemo minima aut saepe tempora, obcaecati earum molestiae voluptatum. Exercitationem numquam, distinctio commodi quibusdam.</p>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Groundwork's / Brickwork -->
<section>
	<div class="container-fluid">
		<div class="row service-row brickwork-bkg">
			<div class="container">
				<div class="row row-inner">
					<div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-3 service-text">
						<article>
							<header>
								<h3>Groundwork's / Brickwork</h3>
							</header>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit itaque accusamus iste magnam ad animi ducimus odit deleniti, at voluptate illum inventore, dolor eveniet nihil dicta repudiandae! Adipisci, debitis cumque.</p>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ullam est eius accusantium aliquam sint numquam dolorum sed enim, quae, velit aliquid neque, maiores id consequuntur commodi sequi reprehenderit exercitationem.</p>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- UPVC Windows / Conservatories -->
<section>
	<div class="container-fluid">
		<div class="row service-row windows-bkg">
			<div class="container">
				<div class="row row-inner">
					<div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-4 service-text">
						<article>
							<header>
								<h3>UPVC Windows / Conservatories</h3>
							</header>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo porro neque sit, nulla voluptate, voluptates perspiciatis harum reiciendis provident id debitis quibusdam asperiores quos magni et iusto, adipisci velit optio?</p>
							<p>Vitae nisi impedit magnam! Ipsa nihil praesentium, esse cumque similique omnis sapiente sint. Ab reiciendis nobis velit repellendus consequatur sit eos dolor ipsum commodi, obcaecati expedita iste sed atque hic!</p>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Property Maintenance -->
<section>
	<div class="container-fluid">
		<div class="row service-row maintenance-bkg">
			<div class="container">
				<div class="row row-inner">
					<div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-5 service-text">
						<article>
							<header>
								<h3>Property Maintenance</h3>
							</header>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis praesentium at facilis architecto dolore molestiae ad soluta aliquam in. Placeat fugit animi est sunt, perferendis, mollitia fuga labore explicabo hic!</p>
							<p>Est ipsum omnis nesciunt, harum provident doloribus velit dolores voluptate odit excepturi tenetur quibusdam rerum magnam quis natus quaerat iste dignissimos neque impedit. Officia blanditiis repudiandae aliquam quo nisi nesciunt?</p>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Property Renovations -->
<section>
	<div class="container-fluid">
		<div class="row service-row renovations-bkg">
			<div class="container">
				<div class="row row-inner">
					<div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-6 service-text">
						<article>
							<header>
								<h3>Property Renovations</h3>
							</header>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore delectus facilis unde. Aliquam qui, quia explicabo impedit ducimus? Corporis eveniet sapiente accusantium dicta sequi molestiae molestias pariatur culpa aliquam autem.</p>
							<p>Architecto ex libero tempore saepe possimus voluptatum debitis deleniti, maxime eveniet. Blanditiis beatae minus vitae nemo similique facere odio consequatur atque magnam ex doloremque explicabo ea natus esse, a laborum.</p>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- New Builds -->
<section>
	<div class="container-fluid">
		<div class="row service-row new-builds-bkg">
			<div class="container">
				<div class="row row-inner">
					<div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-5 service-text">
						<article>
							<header>
								<h3>New Builds</h3>
							</header>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illo a rerum ea eum, doloremque sed officiis ut temporibus ratione autem fugiat aperiam beatae dolores, placeat explicabo et officia voluptatem.</p>
							<p>Laborum quia, impedit quidem perferendis sequi at corporis atque, eum nulla, obcaecati omnis repellat natus ipsam qui optio quaerat dolor ab facilis? Ipsum excepturi recusandae, earum quisquam tenetur nemo natus.</p>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>